<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        #main_container {
            text-align: center;
        }
        .description {
            /* display: inline-block */
        }
        ul li {
            list-style: none;
        }
    </style>
</head>
<body>
    <div id='main_container'>
        <h1>{{author.f_name}} {{author.l_name}}</h1>
        <h3>ID: {{author.id}}</h3>
        <h3 class="description">Notes</h3>
        <p class="description">
            {{author.notes}}
        </p>
        <h3>books</h3>
        <ul>
            {% for book in author_books %}
                <li>{{book.title}}</li>
            {% endfor %}    
        </ul>
        <form action="/authors/{{author.id}}/add_book" method="post">
            {% csrf_token %}
            <select name="author" id="add_author">
                {% for book in selectable_books %}
                <option value="{{book.id}}">{{book.title}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add">
        </form>
        <a href="/authors">back</a>
    </div>
</body>
</html>